
<!-- Footer -->
<footer id="footer" class="bg-dark py-2 ">
    <div class=" flexFooter container">
      <div class="footer-about">
        
          <h3 class="text-secondary">About Us</h3>
        
        <a class="text-secondary" href="/#home">
          <p class="my-1">Home</p>
        </a>
        <a class="text-secondary" href="/seeMenu">
          <p class=" my-1">Menu</p>
        </a>
       
      </div>
  
      <div class="footer-contact">
        
          <h3 class="text-secondary">Contact Info</h3>
       
        <div>
          LakayResto@g****.com
          <i class="far fa-envelope text-primary iconContainer py-top"></i>
        </div>
  
        <div>
          000-*000-0000
          <i class="fas fa-phone text-primary iconContainer py-top"></i>
        </div>
  
        <div class="flexIcons">
          <div>
              <a href="http://www.google.com">
            <i
              class="fab fa-facebook-f fa-2x iconContainer text-primary border mx-1 py-top"
            ></i>
            </a>
          </div>
          <div>
              <a href="http://www.google.com">
            <i
              class="fab fa-instagram fa-2x iconContainer text-primary border mx-1 py-top"
            ></i>
            </a>
          </div>
          <div>
              <a href="http://www.google.com">
            <i
              class="fab fa-twitter fa-2x iconContainer text-primary border mx-1 py-top"
            ></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center ">
      <p class="">Made by yours truly Best Francois</p>
      <p class="">&copy All right reserved LakayResto</p>
    </div>
  </footer>
  


</body>
</html