<!-- Section: Home Showcase-->
<% include partials/header %>
<!-- Section: Home Showcase-->
<section id="home">
  <div id="showcase">
    <div class="showcase-content">
      <h1 class="l-heading">
        The Restaurant With All The Flavors
      </h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia unde eum
        id ipsam velit modi.
      </p>
      <a href="/#booking" class="btn">Book a Table</a>
    </div>
  </div>
</section>

<!-- Section: Who We are-->
<section id="who" class="py-2 height">
  <div class="flexContainer container">
    <div class="who-text text-justify p-1">
      <div class="text-primary">
        <p class="letter-spacing">Our Story</p>
      </div>
      <div>
        <h2 class="m-heading text-color">
          Cooking is an Art at Lakay
        </h2>
      </div>
      <p class="text-color">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
        doloremque doloribus a, fuga expedita laborum ab quos illo et, id nisi?
        Debitis fugiat iure corrupti ducimus quia cum quidem aut consectetur
        voluptate omnis voluptatum quis, corporis accusantium ratione quaerat
        repellat, hic voluptatem perspiciatis veniam obcaecati architecto.
        Tempore voluptas quis distinctio provident neque necessitatibus nemo
        harum maiores laudantium vel, nostrum perferendis, maxime repellendus at
        impedit eaque assumenda praesentium quia itaque laboriosam ipsam
        officiis aperiam nesciunt. Nemo incidunt, totam
      </p>
    </div>
    <div class="empty"></div>
    <div class="empty">
      <p class="p-3 ">
        <span class="s-heading">Best Francois</span> -
        <span class="talic">is the master of the kictchen</span>
      </p>
    </div>

    <div class="who-img">
      <img src="./img/chef.jpg" alt="chef" />
    </div>
  </div>
</section>

<!-- Section: Gallery-->
<section id="gallery">
  <div class="slider">
    <div class="slide current">
      <div class="content">
        <h1>Slide One</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci
          ex veritatis, reiciendis facere quia quisquam quam est praesentium
          impedit.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Two</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci
          ex veritatis, reiciendis facere quia quisquam quam est praesentium
          impedit.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Three</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci
          ex veritatis, reiciendis facere quia quisquam quam est praesentium
          impedit.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Four</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci
          ex veritatis, reiciendis facere quia quisquam quam est praesentium
          impedit.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Five</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci
          ex veritatis, reiciendis facere quia quisquam quam est praesentium
          impedit.
        </p>
      </div>
    </div>
    <div class="slide">
      <div class="content">
        <h1>Slide Six</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel adipisci
          ex veritatis, reiciendis facere quia quisquam quam est praesentium
          impedit.
        </p>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button id="prev"><i class="fas fa-arrow-left"></i></button>
    <button id="next"><i class="fas fa-arrow-right"></i></button>
  </div>
</section>

<!-- Section Contact-->
<section id="contact" class="p-2 height">
  <div class="text-center p-2 container">
    <div class="text-primary">
      <p class="letter-spacing">Contact Us</p>
    </div>
    <div>
      <h2 class="m-heading text-color ">
        We Enjoy Helping our Customer
      </h2>
    </div>
  </div>
  <div class="flexContainer  container">
    <div class="restoInfo ">
      <h2 class="s-heading  py-1 bg-primary">Restaurant Information</h2>
      <div class="flexContainer">
        <div>
          <i
            class="fas fa-home fa-2x border text-primary iconContainer py-top"
          ></i>
        </div>
        <div class="px-1">
          <h3 class="text-color">Address</h3>
          <p class="text-color">Lorem ipsum dolor sit amet.</p>
          <p class="text-color">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>

      <div class="flexContainer">
        <div>
          <i
            class="fas fa-phone-volume fa-2x text-primary border iconContainer py-top"
          ></i>
        </div>
        <div class="px-1">
          <h3 class="text-color">Phone</h3>
          <p class="text-color">Lorem ipsum dolor sit amet.</p>
          <p class="text-color">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="flexContainer">
        <div>
          <i
            class="far fa-envelope fa-2x border text-primary iconContainer py-top"
          ></i>
        </div>
        <div class="px-1">
          <h3 class="text-color">Email</h3>
          <p class="text-color">Lorem ipsum dolor sit amet.</p>
          <p class="text-color">Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
      <div class="flexIcons">
        <div class="social-media">
          <a href="http://www.google.com">
            <i
              class="fab fa-facebook-f fa-2x iconContainer text-primary border mx-1 py-top"
            ></i>
          </a>
        </div>
        <div>
          <a href="http://www.google.com">
            <i
              class="fab fa-instagram fa-2x iconContainer text-primary border mx-1 py-top"
            ></i>
          </a>
        </div>
        <div>
          <a href="http://www.google.com">
            <i
              class="fab fa-twitter fa-2x iconContainer text-primary border mx-1 py-top"
            ></i>
          </a>
        </div>
      </div>
    </div>
    <div class="contact-form ">
      <h2 class="s-heading  py-1 bg-primary">Leave Us a Message</h2>

      <form
        action="mailto:fkdkr6@gmail.com?subject=Mail from Our Site"
        method="post"
        enctype="text/plain"
      >
        <div class="form-group text-center">
          <i class=" text-primary fas fa-inbox fa-7x"></i>
        </div>

        <input type="submit" value="Message Us" class="btn btn-dark" />
      </form>
    </div>
  </div>
</section>

<!-- Section Booking-->
<section id="booking" class=" text-center bg-booking">
  <div id="bookingContent">
    <div class="text-center p-2 container">
      <div class="text-primary">
        <p class="letter-spacing">Hours Of Operation</p>
      </div>
      <div>
        <h2 class="m-heading">
          Here to Provide the Best Services
        </h2>
      </div>
    </div>
    <div class="flexContainer container">
      <div class="box text-color">
        <h1>Mon-Fri</h1>
        <p>8:00 A.M - Midnight</p>
      </div>
      <div class="box text-color">
        <h1>Sat</h1>
        <p>11:00 A.m - 9:30 P.M</p>
      </div>
      <div class="box text-color">
        <h1>Sun</h1>
        Closed
      </div>
    </div>
    <div>
      <div class="text-center p-2 container">
        <h2 class="m-heading text-primary">
          Reserve Your Table
        </h2>
      </div>
      <div class="booking-form">
        <form
          id="form"
          action="/addbooking"
          onsubmit="return validate(this)"
          method="post"
        >
          <div class="form-group">
            <label for="name" class="text-primary"
              ><i class="fas fa-user fa-2x"></i
            ></label>
            <input
              type="text"
              name="name"
              placeholder="Enter Your Name"
              required
            />
          </div>
          <div class="form-group">
            <label for="guest" class="text-primary"
              ><i class="fas fa-users fa-2x"></i
            ></label>
            <input
              type="number"
              name="guest"
              placeholder="Number of Guest"
              required
            />
          </div>

          <div class="form-group">
            <label for="time" class="text-primary"
              ><i class="far fa-clock fa-2x"></i> hr-mn-sc</label
            >
            <input
              id="time"
              type="time"
              name="time"
              placeholder="Time"
              required
            />
          </div>

          <div class="form-group">
            <label for="date" class="text-primary"
              ><i class="far fa-calendar-times fa-2x"></i
            ></label>
            <input
              id="date"
              type="date"
              name="date"
              value=""
              placeholder="Date"
              required
            />
          </div>
          <div class="form-group">
            <label for="phone" class="text-primary"
              ><i class="fas fa-mobile fa-2x"></i
            ></label>
            <input
              type="text"
              name="phone"
              placeholder="Enter Your Phone #"
              required
            />
          </div>
          <input type="submit" value="Book Table" class="btn btn-dark " />
        </form>
      </div>
    </div>
  </div>
</section>

<!-- JQuery CDN-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="/js/main.js"></script>
<script src="/js/nav.js"></script>
<script src="/js/validation.js"></script>

<% include partials/footer %>
